.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 120px;

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .container-search {
      width: 300px;
      position: relative;
      white-space: nowrap;
      vertical-align: middle;

      input[type='search'] {
        background: #2b303b;
        border-radius: 5px;
        border: none;
        color: #63717f;
        float: left;
        font-size: 1em;
        height: 50px;
        padding-left: 45px;
        transition: background 0.55s ease;
        width: 300px;

        &:focus,
        &:not(:placeholder-shown) {
          background: #ffffff;
          outline: none;
        }
      }

      .icon {
        position: absolute;
        margin-left: 17px;
        margin-top: 17px;
        z-index: 1;
        color: #4f5b66;
      }
    }

    .button-search {
      background-color: #1c252f;
      border-radius: 5px;
      border: none;
      color: #ffffff;
      cursor: pointer;
      padding: 15px 25px;

      &:hover {
        background-color: #383d47;
      }
    }
  }
}
